:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #ffce00;
    --secundarioOscuro:#dcb105; ;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /*Globales*/
  body{
    font-size: 16px;
    background-color: var(--primario);
    line-height: 1.5;
  }

  p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif ;
    color: var(--blanco);
  }

  a{
    text-decoration: none;
  }
  img{
    width: 100%;
  }
  .contenedor{
    max-width: 120rem;
    margin: 0 auto;
  }
  h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3.2rem;
  }
  h2{
    font-size:2.4rem;
  }
  /*Termina Globales*/

  /* Header */
.header {
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/* Navegacion */

.navegacion {
background-color: var(--primarioOscuro);
padding: 1rem;
display: flex;
justify-content: center;
gap: 2rem;
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;

}
/*
.navegacion__enlace:last-of-type {
    margin-right: 0 ;
}
Sirve para solo seleecionar el ultimo elemento de un solo tipo*/
.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: var(--secundario);
}


/* Footer */
.footer{
    background-color: var(--primarioOscuro);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
.footer__texto{
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
}

/* Grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}
@media (min-width: 768px){
    .grid{
       grid-template-columns: repeat(3, 1fr); 
    }
}


/* Prodcutos */
 
.producto {
    background-color: var(--primarioOscuro);
    padding: 2rem;
    transition: background-color 1s ease;
}

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
   font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem;
}
.producto:hover{
    background-color: var(--negro);
    cursor: pointer;
}

/* Graficos */

.grafico{
    min-height: 36rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.grafico__camisas{
    grid-row:2/3 ;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}
.grafico__node{
    grid-row: 8 / 9 ;
    grid-column: 1 / 3;
    background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px){
    .grafico__node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* Grid Nosotros*/

.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width:768px  ){
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen{
    grid-row: 1 / 2;
    min-height: 45rem;
}
@media (min-width: 768px){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}
.nosotros__contenido--p{
    margin: 0;
    text-align: justify;

}
 /* Bloques */

 .bloques {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
 }
 @media (min-width:768px){
    .bloques{  
        grid-template-columns: repeat(4, 1fr);
     }
 }
 .bloque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .bloque__titulo {
    margin: 0;
 }
 .comprar{
    margin-bottom: 5rem;
 }

 /*Camisa Producto*/

 @media (min-width: 768px){
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
     }
 }
 .camisa__contenido--texto {
    margin: 0;
    padding-bottom: 4rem;
 }

 .formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
 .formulario__campo{
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style:solid;
    margin-right: 1rem;
    margin-bottom: 2rem;
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem auto;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    appearance:none;
 }
 .formulario__submit{ /*Este es el boton de ENVIAR*/
    background-color: var(--secundario);
    border: none;
    border-radius: .8rem;     /*Cada que se le agrega estilos al submit pierde la propiedad de la manita entonces se le tiene que volver a poner con el hover*/
    padding: 2rem;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    transition: background-color .7s ease;  /*esta transicion se coloca para eso mismo y en la siguiente se coloca que transicion quiere hacer en este caso es el color de fondo pero se pude hacer con varias mas cosas*/
    grid-column: 1 / 3;
}
 .formulario__submit:hover{
    cursor: pointer;   /*esta es la propiedad hover para que vuelva poner la animacion de la manita*/
    background-color: var(--secundarioOscuro);
 }